In [2]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already satisfied: sklearn in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (1.20.1)

In [3]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (1.0.1)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

# machine learning
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split

# Data

In [50]:
# import datasets
df = pd.read_csv('data/train.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Sex          183 non-null    object
 4   Age          183 non-null    float64
 5   SibSp        183 non-null    int64
 6   Parch        183 non-null    int64
 7   Ticket       183 non-null    object
 8   Fare         183 non-null    float64
 9   Cabin        183 non-null    object
 10  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 17.2+ KB

In [47]:
results

[0.8260869565217391,
 0.7472527472527473,
 0.8152173913043478,
 0.7692307692307693,
 0.75,
 0.8241758241758241,
 0.6956521739130435,
 0.7912087912087912,
 0.7065217391304348,
 0.7582417582417582,
 0.7391304347826086,
 0.7582417582417582,
 0.7391304347826086,
 0.7472527472527473,
 0.6956521739130435,
 0.7142857142857143,
 0.8260869565217391,
 0.7142857142857143,
 0.7717391304347826,
 0.7582417582417582]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [53]:
df.shape,

((891, 12),)

In [23]:
# create a new colunm Sex_10
df['Sex_10'] = df['Sex'].map(transform_sex)

In [54]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

# Sex

In [55]:
def transform_sex(n):
  if n == 'female':
    return 1
  else:
    return 0

In [56]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [59]:
# create a new colunm Sex_10
df['Sex_10'] = df['Sex'].map(transform_sex)

In [61]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_bin,Sex_10
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0

In [28]:
# Variable Survived to predict
X = df[variables]
y = df['Survived']

In [29]:
X.head()

    Sex_10   Age
1        1  38.0
3        1  35.0
6        0  54.0
10       1   4.0
11       1  58.0

In [35]:
model = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
model.fit(X, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [32]:
X_predict = df[variables]
X_predict = X_predict.fillna(-1)
X_predict.head()

    Sex_10   Age
1        1  38.0
3        1  35.0
6        0  54.0
10       1   4.0
11       1  58.0

In [33]:
p = model.predict(X_predict)
p

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [37]:
submission = pd.Series(p, index = df['PassengerId'], name = 'Survived')
submission

PassengerId
2      1
4      1
7      0
11     1
12     1
      ..
872    1
873    0
880    1
888    1
890    1
Name: Survived, Length: 183, dtype: int64

In [62]:
submission.to_csv('first_model_sex.csv', header = True)

# Model 2

In [64]:
np.random.seed(0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50)

In [65]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((91, 2), (92, 2), (91,), (92,))

In [39]:
#  Model
np.random.seed(0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50)

In [66]:
model = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
model.fit(X_train, y_train)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [67]:
p = model.predict(X_test)

In [70]:
# testing the accuracy
np.mean(y_test == p)

0.8260869565217391

In [72]:
p = (X_test['Sex_10'] == 1).astype(np.int64)
np.mean(y_test == p)

0.782608695652174

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
# Create the GridSearchCV model
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Train the model with GridSearch
# This will take the SVC model and try each combination of parameters
grid.fit(X_train_scaled, y_train)

In [ ]:
print(grid.best_params_)
print(grid.best_score_)

In [ ]:
predictions=grid.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions, ))

# Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'marge.sav'
joblib.dump(predictions, filename)